<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.QuestionnaireVMMapper">
	<!-- 查询所有问题信息 -->
	<select id="findAllQuestionnaireVM" resultMap="QuestionnaireVMResultMap">
		select * from
		poll_questionnaire
	</select>
	
	<!-- 通过ID查询所有问题信息 -->
	<select id="findByIdQuestionnaireVM" resultMap="QuestionnaireVMResultMap">
		select * from
		poll_questionnaire
		where id=#{id}
	</select>



	<resultMap type="com.briup.app02.vm.QuestionnaireVM" id="QuestionnaireVMResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="createdate" property="createdate" />
		<collection column="id" property="qqVM"
			select="com.briup.app02.dao.extend.QqVMMapper.findAllQuestion"></collection>
		<collection column="id" property="survey"
			select="com.briup.app02.dao.SurveyMapper.findBySurveyId"></collection>
	</resultMap>

</mapper>