<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.SchoolMapper">
	<!-- 查询所有学生信息 -->
	<select id="findAll" resultType="com.briup.app02.bean.School">
		select * from poll_school
	</select>
	<!-- 通过ID查询学生信息 -->

	<select id="findById" parameterType="long"
		resultType="com.briup.app02.bean.School">
		select * from poll_school where id = #{id}
	</select>

	<insert id="save" parameterType="com.briup.app02.bean.School">
		insert into poll_school
		values(null,#{name},#{age})
	</insert>

	<update id="update" parameterType="com.briup.app02.bean.School">
		update poll_school
		set
		name=#{name},age=#{age}
		where id=#{id}
	</update>
	<delete id="deleteById" parameterType="long">
		delete  from poll_school where id=#{id}
	</delete>


</mapper>